# performance datasets
tests/performance/datasets

# object files
*.o

# binaries
json
tests/performance/genjson
examples/example1
examples/example2
examples/example3
examples/example4

# junk left after running perf
tests/performance/result